@import "../../global.scss";

.contact{
    background-color: rgb(8, 8, 8);
    display: flex;

    @include mobile{
        flex-direction: column;
    }

    
    .left{
        flex: 1;
        overflow: hidden;
    
        img{
            height: 100%;
        }
    }

    .right{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        @include mobile{
            margin:  10px;  
          }

        h2{
            font-size: 30px;
            color: white;
        }
    
    }

    input[type='text'],
    input[type='email'] {
        width: 100%;
        border: 0;
        background: #115173;
        height: 50px;
        font-size: 16px;
        color: #fff;
        padding: 0 20px;
        box-sizing: border-box;
    }

    textarea {
        width: 100%;
        border: 0;
        background: #115173;
        height: 50px;
        font-size: 16px;
        color: #fff;
        padding: 20px;
        min-height: 150px;

    }
    .flat-button {
        color: crimson;
        background: 0, 0;
        font: 11px;
        letter-spacing: 3px;
        text-decoration: none;
        padding: 8px 10px;
        border: 1px solid crimson;
        float: right;
        border-radius: 4px; 
        }
}